
body {
    background-color: black;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: chocolate;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: hotpink
}


#a1 {
    text-align: center;
    color: green;
    font-family: serif;
}

#a2 {
    text-align: center;
    color: green;
    font-family: sans-serif;
}

#a3 {
    text-align: center;
    color: green;
    font-family: fantasy;
}

#a4 {
    text-align: center;
    color: green;
    font-family: cursive;
}

#a5 {
    text-align: center;
    color: green;
    font-family: monospace;
}
